* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.header-brand-title {
    font-family: 'Julius Sans One', sans-serif;
    background-color: rgb(129,154,212);
    margin: auto;
    color: white;
}

.header-brand-title a:link {
    text-decoration: none;
}


subheader h2 {
    display: block;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(129,154,212);
}

button {
    padding: 20px;
    border: 0px;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: -2px -2px 1px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.fi {
    color: rgb(253,255,74);
}

