.header-brand-title {
    font-family: 'Julius Sans One', sans-serif;
    background-color: rgb(129,154,212);
    margin: auto;
    color: white;
}

.header-brand-title a:link, .header-brand-title a:visited {
    text-decoration: none;
    color: white;
}

.header-brand-title a:link {
    text-decoration: none;
}

.fi {
    color: rgb(253,255,74);
}


#today {
    background-color: lightgray;
    border: solid, black;
    border-top: solid, black;
    border-bottom: solid, black;
    border-left: solid, black;
    border-right: solid, black;
    padding: 10px;
    margin: 10px;
    width: 100%;
    font-family: sans-serif
   }

 #desc {
    display: inline-block; 
    justify-content: space-around;
    display: inline;

}

#name {
    display: inline;

}

#day {
    display: inline-block; 
}

.weather {
    justify-content: center;
    color: blue;
    size: 50px;
}

